.our_features_section {
  font-family: "Oxanium", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8em;
  position: relative;
  margin-top: 8em;
}

.our_features_section::before,
.our_features_section::after {
  position: absolute;
  content: "";
  width: 58px;
  height: 150px;
  background-color: #05caad;
  top: 60%;
  transform: translateY(-50%);
}

.our_features_section::before {
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  left: 0;
}

.our_features_section::after {
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  right: 0;
}

.our_features_section > span {
  font-size: 44px;
  /* transform: translateX(5.7em); */
  transform: translateX(3em);
  position: relative;
  width: fit-content;
}

.our_features_section > span::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  /* width: 150px; */
  width: 800px;
  height: 1px;
  background-color: #05caad;
  box-shadow: 0 0 8px #00ffd9;
  left: 105%;
}

.our_features_section > div {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.our_features_section > div > div:nth-child(2) {
  transform: translateY(-3em);
}

.feature {
  position: relative;
  width: 320px;
  height: 380px;
  background-color: 131317;
  border: 1px solid #ffffff0d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 3em 2.2em 0 2.2em;
  transition: box-shadow 0.6s ease-in-out, border 0.6s ease-in-out;

  box-shadow: 4px 4px 4px #000000;
}

.feature:hover {
  border: 1px solid #05caac39;
  box-shadow: 0 0 10px #05caac3e;
}

.feature img {
  position: absolute;
  width: 129px;
  height: 97px;
  top: -40px;
  left: -40px;
}

.feature span {
  font-size: 26px;
}

.feature p {
  line-height: 1.7;
  color: #ffffffd7;
}
